#!/bin/sh

echo
echo " =========================================================="
echo "  Welcome to a vansible-provisioned Learning Locker server."
echo " =========================================================="
echo
